<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>formServlet</servlet-name>
        <servlet-class>classes.formServlet</servlet-class>
        <init-param>
            <param-name>driver</param-name>
            <param-value>com.cj.mysql.jdbc.Driver</param-value>
        </init-param>
        <init-param>
            <param-name>url</param-name>
            <param-value>jdbc:mysql://localhost:3306/bcis</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>display</servlet-name>
        <servlet-class>classes.display</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>formServlet</servlet-name>
        <url-pattern>/formServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>display</servlet-name>
        <url-pattern>/display</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
